@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", "sans-serif";
  --font-serif: "Playfair Display", "serif";
  --color-brand-50: #fdf8f6;
  --color-brand-100: #f2e8e5;
  --color-brand-200: #eaddd7;
  --color-brand-300: #e0cec7;
  --color-brand-400: #d2bab0;
  --color-brand-500: #a7796c;
  --color-brand-600: #8c5e51;
  --color-brand-700: #684034;
  --color-brand-800: #482a20;
  --color-brand-900: #2b1610;
}

html, body {
  @apply bg-stone-50 text-stone-900 scroll-smooth;
}

/* Custom scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-stone-300 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-stone-400;
}
